extends ../skeleton
block content

block css
  link(rel='stylesheet', href='/styles/_.css')

block jscript
  script(src="/js/ang/app/____.js")

block vars
  - var page = "User Page"
  - var custom = true